.main-container {
  background: url("/public/assets/about_back.jpg") no-repeat center
    center/cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-container {
  width: 30vw;
  height: 100%;
}
.content {
  background-color: #888;
  width: 40vw;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  /* margin: 0 0 100px 0; */
}
.intro {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-member h3{
  display: block;
  width: 360px;
}
.team-member a{
  width: 360px;
  display: block;
  color: black;
  text-decoration: none;
}
.intro,
.aboutUs {
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  margin: 1vw;
  padding: 1vw;
  line-height: 1.6;
}
.linkedin {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../media/linkedin.png) center center/cover no-repeat;
}
.github {
  position: absolute;
  background-color: gray;
  bottom: 100px;
  left: 30%;
  width: 200px;
  height: 200px;
  background: url(../../media/github.png) center center/cover no-repeat;
}

@media (max-width: 820px) {
  .content{
    width: 90vw;
    margin: 0 0 130px  !important;
  }
  .github {
    position: absolute;
    bottom: 220px;
    left: 15px;
    width: 100px;
    height: 100px;
  }
}