.main-container {
  background: url("/public/assets/about_back.jpg") no-repeat center
    center/cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-container {
  width: 30vw;
  height: 100%;
}
.content {
  background-color: #888;
  width: 40vw;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  margin: 0 0 50px 0;
}
.intro {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.intro,
.aboutUs {
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  margin: 1vw;
  padding: 1vw;
  line-height: 1.6;
}
@media (max-width: 820px) {
  .content{
    width: 90vw;
    margin: 0 0 50px 0;
  }
}
