html {
  color: white;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../media/bgImage.png) no-repeat center center/cover;
  height: 190vh;
}
.languges ul {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
}

#he {
  background: url(../../media/israel.png) center center/cover;
}
.articles-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
@media (max-width: 820px) {
  .articles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}