html {
  color: white;
}
.page {
  background: url(../../media/bgImage.png) no-repeat center center/cover;
  height: 100vh;
}
.languges ul {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
}

#he {
  background: url(../../media/israel.png) center center/cover;
}
/* #en{}
#ar{}
#{} */
