.article-container{
    text-align: center;
    text-decoration: none;
    background-color: rgba(204, 204, 204, 0.507);
    color: black;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
        z-index: 2;
}
.article-container  .title , .article-container .description{
    padding: 20px;
}
.article-container-mobile{
    display: none;
}
.article-container:hover {
    background-color: rgba(238, 238, 238, 0.507);
}

.article-container p {
    margin-bottom: 4rem;
    background-color: #888
}
.article-container .article-img{ 
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.article-container-mobile .article-img{ 
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.article-img{
    width: 30vw;
}  
.article-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
[article-name = "ynet"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/ynet.png) center center/contain no-repeat;
}
[article-name = "albayan"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/albayan.png) center center/contain no-repeat;
}
[article-name = "dw"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/dw.png) center center/contain no-repeat;
}
[article-name = "jansatta"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/jansatta.png) center center/contain no-repeat;
}
[article-name = "moscowtimes"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/moscowtimes.png) center center/contain no-repeat;
}
[article-name = "panet"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/panet.png) center center/contain no-repeat;
}
@media (max-width: 820px) {
    .article-container{
       display: none;
    }
    .article-container-mobile {
        text-decoration: none;
        background-color: rgba(204, 204, 204, 0.507);
        color: black;
        display: flex ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 30vh;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        position: relative;
        z-index: 2;
    }
    .article-container-mobile .article-img{ 
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.5;
    }
    .article-container-mobile .website-img{ 
        width: 35vw;
    }
    [article-name] {
        padding: 0;      
    }
  }
  
