.article-container{
    text-align: center;
    text-shadow: 1px 1px rgb(88, 88, 88);
    text-decoration: none;
    color: black;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
.article-container:hover {
    background-color: red;
    padding: 20px;
}
.website-img-container{
        width: 100%;
        background-color: white;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
    }

.title {
    background-color: #fff;
    padding: 10px 20px;
}
.article-container-mobile{
    display: none;
}
.splide__slide.is-visible.is-active > a > .article-container {
    background-color: red;
    padding: 20px;
}

.article-container p,.article-container-mobile  p {
    background-color: #fff;
    padding: 10px 20px;
}
.article-container .article-img{ 
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0; 
}
.article-container-mobile .article-img{ 
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
}
.article-img{
    width: 30vw;
}  
.article-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
[article-name = "ynet"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/ynet.png) center center/contain no-repeat;
}
[article-name = "albayan"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/albayan.png) center center/contain no-repeat;
}
[article-name = "dw"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/dw.png) center center/contain no-repeat;
}
[article-name = "jansatta"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/jansatta.png) center center/contain no-repeat;
}
[article-name = "moscowtimes"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/moscowtimes.png) center center/contain no-repeat;
}
[article-name = "panet"] {
    width:30vw;
    height: 14vh;
    padding: 10px;
    background: url(../../../media/panet.png) center center/contain no-repeat;
}

@media (max-width: 820px) {
    .article-container{
       display: none;
    }
    .article-container-mobile {
        text-decoration: none;
        color: black;
        display: flex ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 70vh;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        position: relative;
        z-index: 2;
        margin-top: 20px;
    }

    .article-container-mobile .article-img{ 
    z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
    .article-container-mobile .website-img{ 
        width: 45vw;
    }
    [article-name] {
        padding: 0;      
    }
  }
  
