.article-page-container {
    background-color: rgba(255, 228, 196, 0.466);
    color: black;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.content-container {
    width: 60vw;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-container * {
    margin: 10px;
}
.article-page-img{
    width: 40vw;
}